@import '@/vars.css';

.button {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--color-Cyan);
    color: var(--color-White);
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}

.button:hover {
    background-color: var(--color-Active-Cyan);
}

.big {
    width: 13.15rem;
    height: 3.7rem;
    font-size: 1.35rem;
}

.small {
    width: 7rem;
    height: 2.65rem;
    font-size: 1rem;
}

.rounded {
    border-radius: 2rem;
}

.squared {
    border-radius: 5px;
}
