.header {
    display: flex;
    justify-content: space-between;
    height: 9.1rem;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.loginBar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 2.55rem;
    color: inherit;
}

.title {
    display: flex;
    align-items: center;
    position: relative;
    top: 3px;
}

.links {
    display: flex;
    gap: 2rem;
}

.link:hover {
    color: var(--color-Very-Dark-Blue);
}
