@import '@/vars.css';

html {
    font-size: 15px;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--color-Grayish-Violet);
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}
